.svg-brand
{
    height: 60px;
}

.btn
{
    background-color: #333 !important;
    font-size: 25px !important;
    width: 200px !important;
    border-radius: 12px 12px 0px 0px !important;
    font-family: poppins, sans-serif;
}

.spacer
{
    margin: 10px;
}

.f-container
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#searchbar
{
    height: 53px !important;
    margin-left: -15px !important;
    padding-left: 60px !important;
}

.search-mag
{
    position: relative;
    left: 30px;
}

.card
{
    border-radius: 22px !important;
    padding: 0px !important;
}

.card-header
{
    border-radius: 22px 22px 0px 0px !important;
    background-color: #333 !important;
    color: #fff !important;
}

.card-header:hover, .t-btn:hover
{
    background-color: #eee !important;
    color: #333 !important;
}

p
{
    margin-bottom: 0px !important;
}

.divider
{
    margin-left: 10px;
    margin-right: 10px;
}

.l-container
{
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.container 
{
    padding: 0px !important;
}
